<mat-expansion-panel class="expansion-panel is-centered" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Receipt
    </mat-panel-title>
    <mat-panel-description>
      Details {{panelOpenState ? 'open' : 'closed'}}
    </mat-panel-description>
  </mat-expansion-panel-header>



</mat-expansion-panel>

<h2 mat-dialog-title> Invoice </h2>


<mat-dialog-content>

  <div>
    <p style="align-items: flex-start">Invoice No: #{{ reciept.id }}</p>
    <p>Bonus points earned: {{ reciept.BonusPoints }}</p>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let inventories"> {{inventories.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Days Column -->
    <ng-container matColumnDef="Days">
      <th mat-header-cell *matHeaderCellDef> Days </th>
      <td mat-cell *matCellDef="let inventories"> {{inventories.rentDays }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let inventories"> {{inventories.cost | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{reciept.TotalPrice | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

</mat-dialog-content>



<mat-dialog-actions>

  <button class="mat-raised-button is-primary button is-rounded" (click)="close()">Close</button>

</mat-dialog-actions>